fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
python-multipart
aiofiles
pgvector
openai
httpx
Pillow
pyahocorasick
psycopg2-binary
python-magic
