services:
  # База данных для микросервиса авторизации
  auth-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: auth_user
      POSTGRES_PASSWORD: auth_password
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - auth_db_data:/var/lib/postgresql/data

  # База данных для основного микросервиса
  core-db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: core_user
      POSTGRES_PASSWORD: core_password
      POSTGRES_DB: core_db
    ports:
      - "5433:5432"
    volumes:
      - core_db_data:/var/lib/postgresql/data

  # Kafka
  kafka:
      image: apache/kafka:latest
      container_name: skaldenginebackend-kafka
      ports:
        - "9092:9092"
      environment:
        KAFKA_NODE_ID: 1
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@localhost:9093
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      volumes:
        - kafka_data:/var/lib/kafka/data

volumes:
  auth_db_data:
  core_db_data:
  kafka_data: # Том для сохранения данных Kafka