fastapi
uvicorn[standard]
sqlalchemy
alembic      # Миграции
aiosqlite     # Асинхронный драйвер для SQLite (для разработки)
asyncpg        # Асинхронный драйвер для PostgreSQL (для продакшена)
pydantic
pydantic-settings
pydantic[email]
python-multipart # Для обработки форм (login)
python-jose[cryptography] # Для работы с JWT токенами
passlib[bcrypt] # Для хеширования паролей
httpx
aiofiles