PROJECT_NAME="SkaldEngine Query Service"
API_V1_STR="/api/v1"
SECRET_KEY="your-secret-key-shared-with-core"
# Для начала Query-сервис будет смотреть в ту же БД, но работать только на чтение. 
# В будущем можно вынести в отдельную read_db.
DATABASE_URL="postgresql+asyncpg://core_user:core_password@localhost:5433/core_db"
KAFKA_BOOTSTRAP_SERVERS="localhost:9092"
KAFKA_TOPIC_EVENTS="skaldenginebackend_entity_events"