PROJECT_NAME="SkaldEngine Auth Service"
API_V1_STR="/api/v1"
SECRET_KEY=""
## Подключение к Postgres из Docker Compose (localhost для запуска локально вне докера)

DATABASE_URL="postgresql+asyncpg://auth_user:auth_password@localhost:5432/auth_db"
ACCESS_TOKEN_EXPIRE_MINUTES=60

KAFKA_BOOTSTRAP_SERVERS="localhost:9092"